<div style="margin-left: 35%;margin-top: 10%;">
        <form class="login-form" styel=" background-color: lightgrey;" [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group" style="width: 50%">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group" style="width: 50%">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log Me</button>

        </form>
        <div style="margin-top: 30px;">
        <a (click)="signup()" style="text-decoration: none;cursor: pointer;color: blue">New User Register Here</a>
        </div>
</div>  