	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100">
						<span class="label-input100">User Name</span>
						<input class="input100" type="text" name="name" placeholder="Username" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100">
						<span class="label-input100">College Roll No</span>
						<input class="input100" type="text" name="rollno" placeholder="Roll No" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="********" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="confirm-pass" placeholder="********" required>
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100">
						<span class="label-input100">Email</span>
						<input class="input100" type="emial" name="email" placeholder="Email" required>
						<span class="focus-input100"></span>
					</div>
				
					<div class="wrap-input">
					<span class="label-input100">Gender</span>
					<label class="container input100">Male
					<input class="input100" type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
					</label>
					<label class="container input100">Female
					<input class="input100" type="radio" name="radio">
					<span class="checkmark"></span>
					</label>
					<label class="container input100">Others
					<input class="input100" type="radio" name="radio">
					<span class="checkmark"></span>
					</label>
					</div>
					
					<div class="wrap-input100">
						<span class="label-input100">Phone Number</span>
						<input class="input100" type="tel" name="phoneno" placeholder="Phone Number" required>
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100">
						<span class="label-input100">College Name</span>
						<input class="input100" type="text" name="collegename" placeholder="College Name" required>
						<span class="focus-input100"></span>
					</div>
					
					<div class="form-group wrap-input col-md-4">
						<label class="label-input100" for="Degree">Degree</label>
						<select id="degree" name="degree" class="form-control">
						  <option selected></option>
						  <option value="b-tech">B-tech</option>
						  <option value="b-com">B-com</option>
						</select>
					  </div>

					  <div class="form-group wrap-input col-md-4">
						<label class="label-input100" for="branch">Branch</label>
						<select id="branch" name="branch" class="form-control">
						  <option selected></option>
						  <option value="cse">Cse</option>
						  <option value="ece">Ece</option>
						</select>
					  </div>
					
					<div class="wrap-input100">
						<span class="label-input100">Section</span>
						<input class="input100" type="text" name="section" placeholder="section">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100">
						<span class="label-input100">Year of Joining</span>
						<input class="input100" type="date" name="yearofjoin">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100">
						<span class="label-input100">Year of Passed out</span>
						<input class="input100" type="date" name="yearofpass">
						<span class="focus-input100"></span>
					</div>
		
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>
						<!-- <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" routerLink="/login"> 
                             Login
                             </button>
						</div> -->
						<a class="login-link" style="text-decoration: none;color: rgb(96, 108, 112);
					font-family: Poppins-SemiBold;font-size: 18px;padding: 10px 5px 10px 10px;" 
					routerLink="/login"> 
						Click here for Login
					</a>
					</div>
				</form>
			</div>
		</div>
	</div>